.btn {
   padding: 10px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-size: 16px;
   transition: background-color 0.3s ease;
   color: $surface-color;

   &:hover {
    background-color: darken($primary-color, 10%);
  }

   &-primary{
        background-color: $primary-color;
   }

   &-secondary {
        background-color: $secondary-color;
   }
}