.btn {
   padding: 10px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-size: 16px;
   transition: var(--background-color) 0.3s ease;
   color: var(--surface-color);

   &:hover {
//     background-color: darken(var(--primary-color), 10%);
  }

   &-primary{
        background-color: var(--primary-color);
   }

   &-secondary {
        background-color: var(--secondary-color);
   }
}