.table-container {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;

    &__thead{
        background: $card-background;
    }

    &__header {
        text-align: left;
        padding: 8px 12px;

        &:first-child {
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
        }

        &:last-child {
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
        }
    }

    &__row {
        border-bottom: 1px solid;

        &:hover {
            background: $background-color;
            cursor: pointer;

        }

        &__column {
            padding: 16px 12px;
            
            &:first-child {
                border-bottom-left-radius: 10px;
                border-top-left-radius: 10px;
            }
    
            &:last-child {
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
            }
        }
    }
}